/* PayMethodPage */
.bodyBox {
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: uppercase;

}

.container {
    min-height: 70vh;
    background: rgb(245, 242, 242);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    padding-bottom: 30px;
}

.container form {
    background: white;
    border-radius: 5px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, .1);
    padding: 20px;
    width: 600px;
    padding-top: 160px;
    max-width: 100%;
}

.container form .inputBox {
    margin-top: 20px;
}
.container form .inputBox span {
    display: block;
    color: #41403e;
    padding-bottom: 5px;

}
.container form .inputBox input,
.container form .inputBox select {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, .3);
    color:  #444 ;

}

.container form .inputBox input {
    width: 97%;
}


.container form .flexBox {
    display: flex;
    gap: 15px ;
}
.container form .flexBox .inputBox {
    flex: 1 1 150px;
}
.container form .submit-btn {
    width: 100%;
    background: linear-gradient(180deg,rgb(68, 65, 71), #9e0a0a);
    margin-top: 20px;
    padding: 10px;
    font-size: 20px;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    transition:  .2s linear;

}

.container form .submit-btn:hover {
    letter-spacing: 2px;
    opacity: .8;
}
.container .card-container {
    margin-bottom: -120px;
    position: relative;
    height: 250px;
    width: 450px;
    max-width: 100%;
}
.container .card-container .front {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0; left: -20px;;
    background: linear-gradient(180deg,rgb(68, 65, 71), #9e0a0a);
    border-radius: 5px;
    backface-visibility: hidden;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .2);
    padding: 20px;
    transform: perspective(1000px) rotateY(0deg);
    transition: transform .4s ease-out;


}
.container .card-container .front .image {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}
.container .card-container .front .image img {
    height: 50px;

}
.container .card-container .front .card-number-box {
    padding: 30px 0;
    font-size: 22px;
    color: #fff;
}

.container .card-container .front .flexbox {
    display: flex;
}

.container .card-container .front .flexbox .box:nth-child(1){
    margin-right: auto;
}
.container .card-container .front .flexbox .box{
    font-size: 15px;
    color:#fff
}
.container .card-container .front .flexbox .box .cvv-box {
    height: 8px;
    padding: 8px;
    color: #333;
    margin-top: 5px;
    background: #fff;
    border-radius: 5px;
    margin-right:25px ;
}

/* counter style*/

.counter {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    row-gap: 20px;
    background: rgb(245, 242, 242);
    padding-bottom: 30px;

}
 
.counter h1 {
    color: rgb(16, 0, 54);
    font-size: 40px;
    font-family: cursive;
}
 
.counter__output {
    font-size: 40px;
    color: rgb(116, 7, 7);
}
 
.btn__container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    column-gap: 20px;
}
 
.control__btn {
    font-size: 20px;
    padding: 10px 20px;
    background-color: transparent;
    color: rgb(16, 0, 54);
    border: 1px solid rgb(16, 0, 54);
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
 
.control__btn:hover {
    background-color: rgb(16, 0, 54);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(16, 0, 54);
}
 
.reset {
    width: 100px;
    font-size: 18px;
    padding: 10px 20px;
    background-color: transparent;
    color: rgb(16, 0, 54);
    border: 1px solid rgb(16, 0, 54);
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
 
.reset:hover {
    background-color: rgb(16, 0, 54);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(16, 0, 54);
}